*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#ffd6e7,#fff5fb);
overflow:hidden;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.screen{
display:none;
width:100%;
height:100vh;
position:absolute;
top:0;
left:0;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
padding:20px;
}

.screen.active{
display:flex;
}

h1,h2{
color:#ff2d75;
margin:15px 0;
text-shadow:0 0 10px pink;
}

p{
font-size:20px;
color:#444;
line-height:1.6;
max-width:700px;
}

button{
padding:14px 35px;
font-size:18px;
border:none;
border-radius:40px;
background:#ff4f93;
color:white;
cursor:pointer;
margin-top:20px;
transition:.3s;
}

button:hover{
transform:scale(1.08);
background:#ff2d75;
}
img{
max-width:220px;
border-radius:20px;
box-shadow:0 0 20px rgba(255,105,180,.5);
margin:15px;
animation:float 3s ease-in-out infinite;
}

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-10px);}
100%{transform:translateY(0);}
}

.cake{
width:220px;
height:120px;
background:#ffb6c1;
border-radius:20px;
position:relative;
margin:20px auto;
box-shadow:0 0 20px pink;
}

.candle{
width:12px;
height:55px;
background:#fff;
position:absolute;
top:-55px;
left:50%;
transform:translateX(-50%);
}

.flame{
width:18px;
height:18px;
background:orange;
border-radius:50%;
position:absolute;
top:-18px;
left:50%;
transform:translateX(-50%);
animation:flicker .5s infinite alternate;
}

@keyframes flicker{
from{transform:translateX(-50%) scale(1);}
to{transform:translateX(-50%) scale(1.2);}
}
#hearts,
#flowers,
#stars{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
overflow:hidden;
z-index:1;
}

.heart,
.flower,
.star{
position:absolute;
top:-40px;
animation:fall linear forwards;
}

.heart{
font-size:24px;
}

.flower{
font-size:24px;
}

.star{
font-size:18px;
}

@keyframes fall{
0%{
transform:translateY(-50px) rotate(0deg);
opacity:1;
}
100%{
transform:translateY(110vh) rotate(360deg);
opacity:0;
}
  }
#app{
position:relative;
width:100%;
height:100vh;
z-index:2;
}

video{
width:90%;
max-width:400px;
border-radius:20px;
box-shadow:0 0 20px pink;
margin:20px;
}

#yesBtn,#noBtn{
margin:10px;
}

#finalScreen{
background:linear-gradient(135deg,#ffdde8,#fff);
}

#finalScreen h1{
font-size:40px;
animation:float 2s infinite;
}
